.login__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.login__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;

}