.SubmitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50px;
    background-color: #000;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
    &:hover {
        color: #000;
        background-color: #a7e8b1;
    }
}