@import "../../main.scss";

.form {
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-top: 2%;

    &__group {
        display: flex;
        flex-direction: column;
        margin: 2% 0;
        width: 100%;
    }

    &__name {
        display: flex;
        flex-direction: column;
    }

    &__flex {
        display: flex;

    }

    &__label {
        color: #626060;
        font-size: 1.1em;
        margin: 1% 0;
    }

    &__input {
        margin: 1% 0;
        padding: 1%;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
        font-size: 1em;
    }

    &__area {
        margin: 1% 0;
        padding: 1%;
        height: 18vh;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
        font-size: 1.1em;
    }
}

form {
    
    //border: 1px solid red;
    width: 70vw;
}
.tooltip-container {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    background-color: red;
}

.margin-right {
    margin-right: 2%;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltip-text {
    width: 50vw;
    visibility: hidden;
    margin-left: 5%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
  }


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//media queries for form mobile

@media screen and (max-width: 991px) {
    .form {
        margin-top: 5%;
        flex-direction: column;
        align-items: center;

    
    }

    .form__flex {
        flex-direction: column;
    }

    .margin-right {
        margin-right: 0;
    }

    .form__input {
        padding: 5%;
    }
    form {
        width: 90vw;
    }

    .tooltip {
        display: flex;
        

      }
      
    .tooltip .tooltip-text {
        width: 80vw;
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
      
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
      }


      .tooltip .top-first {
        top: -100px;
      }
      .tooltip .top-second {
        top: -130px;
      }

}

@media screen and (max-width: 767px) {

    .tooltip .top-first {
        top: -100px;
      }
      .tooltip .top-second {
        top: -220px;
      }
}